<div id="content">
  <div class="row" >
    <div class="col-sm-12">
      <div class="pull-left header-button">
        <a class="btn btn-primary" (click)="black()">Volver</a>
        <a  class="btn btn-primary" (click)="ir()">Detalle</a>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="!id">
      <div class="well">
        <h1 align="center">
          <B>Ingreso de nuevo Paciente</B>
        </h1>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-2 control-label text-left"><b>cedula<label class="text-danger">*</label>:</b>
                </label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" [(ngModel)]="p" name="p" required>
                  <a class="btn btn-primary" (click)="getPersonaNuevo(p);">Buscar</a>
                </div>
                <div class="col-lg-4">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>LISTA DE BENEFICIADOS</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form class="form-horizontal" (ngSubmit)="addOrUpdate($event)" novalidate="novalidate">
                <h1 align="center">
                  <B>Persona</B>
                </h1>
                <div class="col-md-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-lg-4 control-label text-left"><b>Cédula<label class="text-danger">*</label>:</b>
                      </label>
                      <div class="col-lg-8" *ngIf="!id">
                        <input type="text" class="form-control" [(ngModel)]="personasri.usuario" name="cedula" required>
                      </div>
                      <div class="col-lg-8" *ngIf="id">
                        <input type="text" class="form-control" [(ngModel)]="persona.cedula" name="cedula" required>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="form-group">
                      <label class="col-lg-4 control-label text-left"><b>Apellido:</b></label>
                      <div class="col-lg-8" *ngIf="!id">
                        <input type="text" class="form-control" [(ngModel)]="personasri.contrasena" required name="apellido">
                      </div>
                      <div class="col-lg-8" *ngIf="id">
                        <input type="text" class="form-control" [(ngModel)]="persona.apellido" required name="apellido1">
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-lg-4 control-label text-left"><b>Nombre<label class="text-danger">*</label>:</b>
                      </label>
                      <div class="col-lg-8" *ngIf="!id">
                        <input type="text" class="form-control" [(ngModel)]="personasri.nombre" required name="nombre">
                      </div>
                       <div class="col-lg-8" *ngIf="id">
                        <input type="text" class="form-control" [(ngModel)]="persona.nombre" required name="nombre1">
                      </div>
                    </div>
                  </fieldset>


                </div>
                <div class="col-md-6">
                  <fieldset>
                    <div class="pull-left">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                      </div>
                    </div>
                    <div style="clear:both"></div>
                  </fieldset>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
  <!--<app-dato-persona *ngIf="id" [codigo]='id'></app-dato-persona>-->
</div>