<div id="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-left header-button">

        <button (click)="black()" class="btn btn-labeled btn-primary">
                      <span class="btn-label"><i class="fa fa-reply"></i>
                      </span>Volver</button>
      </div>
    </div>
  </div>

  <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 200)">
    <FONT SIZE=5>DIAGNÓSTICO PSICOLÓGIO</FONT>
  </legend>

  <app-dato-persona [codigo]='id'></app-dato-persona>

  <app-dato-beneficio [codigo]='id'></app-dato-beneficio>
  <!-- MAIN CONTENT -->
  <div id="content">

    <app-menu-diag-psicologico [codigo]='id'></app-menu-diag-psicologico>
  </div>